@import '../../styles/_functions';

.video-statistics {
  background: rgba(black, 0.4);
  color: color('gray', light);
  list-style: none;
  padding: 0.5rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0;
}
