@import '../../styles/_functions';

.control-bar {
  &__button {
    transition: all 0.2s ease-in-out;

    &.MuiFab-root {
      color: color('gray', light);
    }

    &:hover {
      transform: scale(1.1);
    }

    &--on#{&} {
      background-color: color(success);

      &:hover {
        background-color: color(success);
      }
    }

    &--off#{&} {
      background-color: color(error);

      &:hover {
        background-color: color(error);
      }
    }
  }
}
