.video {
  $self: &;

  &__id-badge.id-badge {
    margin-bottom: 1rem;
  }

  &__wrapper {
    position: relative;

    &:hover {
      #{$self}__actions.video-actions {
        display: flex;
      }
    }
  }

  &__frame {
    width: 100%;

    &--flipped-horizontal {
      transform: scaleX(-1);
    }
  }

  &__actions.video-actions {
    display: none;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }
}
