@import '../../styles/_functions';

.settings-panel {
  &__summary {
    &-title {
      svg {
        margin-right: 0.5rem;
      }
    }

    &-status {
      &--online {
        color: color(success);
      }

      &--offline {
        color: color(error);
      }
    }
  }
}
